.search-container {
  padding: 1rem;
  display: flex;
  gap: 2rem;

  &__input,
  &__button {
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    border: 0.1rem solid #000000;
    border-radius: 2rem;
  }

  &__button {
    padding: 0.5rem 3rem;
    font-size: 1.5rem;
    border: 0.1rem solid #000000;
    color: #000000;
    background: #ffffff;
    transition-duration: 0.3s;
  }

  &__button:hover {
    border: 0.1rem solid #ffffff;
    color: #ffffff;
    background: #000000;
  }
}
