.search-item-container {
  color: #000000;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 1.5rem;

  &__title {
    font-size: 1.8rem;
    font-style: oblique;
    font-weight: 600;
  }

  &__info {
    display: flex;
    justify-content: space-around;
    font-size: 1.2rem;
    font-style: oblique;
    font-weight: 500;
  }

  &__item-bold {
    font-weight: 900;
  }
}
