.app-container {
  &__box {
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
  }
}

.container-light {
  background:
    url(../../assets/images/background_grid.png) repeat,
    rgb(240, 240, 240);
}

.container-dark {
  background:
    url(../../assets/images/background_grid.png) repeat,
    rgb(90, 90, 90);
}
